body {
  background-color: white;
}
main {
  margin-left: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.test-sidebar {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 10px;
  border: solid #DDD 1px;
  width: 400px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
}

.dev-title {
  color: white;
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.map-area {
  /* width: 600px; */
  /* display: inline-block; */
  float: left;
}

#my-viewer {
  text-align: left;
}

hr {
  margin: 8px 0 5px 0;
}


.test-heading {
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  margin-bottom: 6px;
}

#file-section {
  margin: 10px 0;
  font-size: 12px;
}

/* .section-performance {
  margin-top: 5px;
} */

.my-row {
  display: flex;
  justify-content: space-between;
}

.options-container {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  max-height: 200px;
  overflow: auto;
}

#open-proksee-div {
  text-align: center;
  margin-top: 7px;
}
#open-in-proksee-btn {
  font-size: 14px;
  border: 0.5px solid #888;
  border-radius: 4px;
  padding: 2px 6px;
}

#results {
  border: solid #DDD 1px;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
}

#results:empty:before {
  content:attr(data-placeholder);
  color:gray
}

.performance-section .btn {
  width: 80px;
}

/* Override Bootstrap */
#iterations-select {
  width: 80px;
  display: inline-block;
}

#draw-range {
  position: absolute;
  border: 1px solid blue;
  width: 100px;
  height: 100px;
  top: 60px;
  left: 10px;
  z-index: 1000;
}
#draw-range:hover {
  border-width: 2px;
  transition: 0.5s;
}


#svg-section {
  float: left;
  margin-left: 5px;
  /* Default should be hidden unless doing a lot of testing */
  visibility: hidden;
  display: none; /* Set to none initially to prevent unwanted scrolling */
}
#svg-section .btn {
  width: 200px;
}
.svg-buttons {
  display: flex;
  justify-content: space-evenly;
}
#svg-map {
	width: 600px;
	height: 600px;
  border: 1px lightgrey solid;
  overflow: hidden;
	margin-bottom: 5px;
}

/* .section-labels .btn {
  height: 24px;
} */

.section-labels .btn {
  width: 72px;
}
.section-labels div.label-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}
.section-labels #labels-font-size {
  width: 80px;
}
.section-labels #labels-move-distance {
  width: 160px;
}


/* Sidebar Help/Logs */
.sidebar-help-logs {
  overflow: auto;
}
.sidebar-help {
  overflow: auto;
}
.sidebar-nav-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.sidebar-nav-btns .btn-separator {
  padding: 0 5px;
}
.sidebar-nav-btns .btn-selected {
  color: black;
  font-size: 18px;
  cursor: default;
}
.sidebar-nav-btns .btn-selected:hover {
  text-decoration: none;
}
.sidebar-log {
  overflow: auto;
}
#log-text {
  font-family: monospace;
  font-size: 10px;
  color: gray;
  margin: 10px;
  /* white-space: break-spaces; */
  white-space: pre;
  line-height: 1.5;;
}
.sidebar-help ul {
  padding-left: 10px;
  margin-left: 0;
  list-style-position: outside;
}
.sidebar-help li {
  font-family: monospace;
  font-size: 10px;
  color: gray;
  margin: 5px;
}