.DS_Store
template/dash
OLD/
node_modules/
docs/formatting_example.*
docs/dist/cgview.esm.*
docs/dist/cgview.js
docs/dist/*.js
docs/dist/*.map
dist/
scripts/copy*
scripts/open*
docs/test/maps/local/*

# Temp
src/LabelPlacementTemp.js
src/LabelPlacementOrdered.js

#docs/dist/cgview.min.js

AGENTS.md
.agents/**
