<?js
    var data = obj;
?>
    <section>
        <article>
            <pre class="source language-javascript <?js= env.conf.templates.linenums ? 'line-numbers' : '' ?>"><code class="language-javascript"><?js= data.code ?></code></pre>
        </article>
    </section>
